body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background: url("http://bit.ly/1lvXyyX") center;
}


/* Content
*************************/
.jumbotron {
    background: linear-gradient(to top right, rgba(0,0,0,0.7), rgba(0,128,128,1));
    background-size: contain;
    background-repeat: no-repeat;  
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.jumbotron h1 {
    font-size: 100px;
}

.row {
    margin: 10% auto;
}

.loader {
    border: 8px solid whitesmoke;
    border-top: 8px solid darkslategray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 7% auto;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Footer
*************************/
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
    overflow: hidden;
}

i {
    padding: 0 25%;
    color: black;
}

.copyright {
    font-size: 0.9em;
}

.social-icons {
    list-style: none;
    display: inline-flex;
}

.heart-icon {
    color: #f77;
}